


<div class="modal-fade add" id="add-contributer" tabindex="-1">
    <div class="modal-dialog">
        <form method="post" action="/home/index">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-contributer">Add Simcha</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Add Simcha</h1>
                    <label>Simcha Name</label>
                    <input type="text" class="form-control" placeholder="Simcha Name" name="simchaname" />
                    <br />
                    <label>Date</label>
                    <input type="date" class="form-control" placeholder="Simcha Date" name="simchadate" />
                    <br />
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Add Simcha</button>
                </div>
            </div>
        </form>
    </div>
</div>
